.listGroups {
	height: 100%;
	background-image: url('https://vignette.wikia.nocookie.net/onepiece/images/e/e7/Hachinosu_Infobox.png/revision/latest?cb=20200121132404&path-prefix=pt');
	background-size: cover;
	opacity: 0.6;
}


