.perfil-rank {
	height: 100%;
	/* background-image: url('https://wallpapercave.com/wp/wp7517344.png'); */
	background-size: cover;
	background-color: black;
	color: white;
}

.perfil-rank-foto {
	height: 200px;
	width: 200px;
}

.perfil-rank-foto img,
.infos-history-rank img {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
}

.foto-history-rank {
	height: 80px;
	width: 80px;
}

.infos-history-rank:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.status-pat {
	font-family: 'Pixelify Sans', cursive;
}

.derrota {
	color: #ff0000;
}

.vitoria {
	color: #1b8b0e;
}

