.chat {
	width: 30vw;
	right: 15vw;
	bottom: 0px;
	height: 45vh;
	position: absolute;
	font-size: 12px;
}

.bg-degrader {
	background-image: linear-gradient(to right, #0e0036, #4c264b); /* Degrade de vermelho para verde */
}

.input-chat button{
	background-color: transparent;
	border: none;
	color: white;
}
