
.foot {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10vh;
}

.main_head {
  display: flex;
  align-items: center;
  padding: 10px;
}

.main_head--anime {
  display: flex;
  height: 10vh;
  padding-left: 10px;
  padding-right: 40px;
}

.logo {
  background-image: URL(./images/anime.png);
}